/* --------------------------------------------------------------- Common Use Css */

* {
  font-family: "montserrat";
  color: rgb(254, 95, 85);
  font-size: 62.5%; /* 1rem = 10px */
}

.fa-facebook-square {
  color: red;
}

body {
  background-color: black;
  background-image: url(../assets/Body.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.logoImg {
  width: 6rem;
  height: 8rem;
}

.headerA {
color: rgb(254, 95, 85);
  font-size: 2rem;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-right: 0.1rem solid white;
  padding: 0 2.5rem;
}

.headerA:last-child {
  border: none;
}

.headerA {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.headerA:hover {
  color: rgb(254, 95, 85);
  text-decoration-color: white;
}

.logoImg,
.links,
.socials {
  align-self: center;
}

.socials {
  display: flex;
}

.socialIcon {
  height: 5.5rem;
  width: 5.5rem;
}

.socialLink {
  transition: all .2 ease-in-out;
}

.socialLink:hover{
  transform: scale(1.3);
}

h1 {
  font-size: 6.4rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  color: white;
}

h4 {
  font-size: 1.6rem;
  color: white;
}

footer {
  display: flex;
  padding: 1rem;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.footerImg {
  width: 3rem;
  height: 4rem;
  margin: 0rem 2rem;
}

.boldSpan {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.title {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 1023px) {
  * {
    font-size: 56.25%; /* 1rem = 9px */
  }

  .navBar {
    grid-area: navBar;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .headerA {
    border: none;
  }

  .socials {
    display: flex;
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  * {
    font-size: 50%; /* 1rem = 8px */
  }
}

/* --------------------------------------------------------------- Common Use Css */

/* -------------------------------------------------------------------- Index CSS */

#heroSection .container {
  height: 50vh;
}

.heroImg {
  border-radius: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../assets/1\ Index.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.heroText {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

.row.subRow {
  align-items: center;
  padding: 3rem;
}

.subImg {
  max-width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: 0.5rem solid white;
  border-radius: 1rem;
  border-top: 0;
  border-bottom: 0;
}

.subText {
  background-color: rgba(0, 0, 0, 0.459);
  margin-left: 4rem;
  font-size: 2rem;
  line-height: 4rem;
}

/* ---------------------------------------------------------------- End Index CSS */

/* -------------------------------------------------------------- Institution CSS */

.carousel-item {
  height: 50rem;
  background: #000;
}

.carousel-1 {
  background: url("../assets/Somos1.jpg") no-repeat center center/cover;
}

.carousel-2 {
  background: url("../assets/Somos\ 2.jpeg") no-repeat center center/cover;
}

.carousel-3 {
  background: url("../assets/Somos\ 3.jpg") no-repeat center center/cover;
}

.aulasText {
  max-width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  border: 0.5rem solid white;
  border-top: 0;
  border-bottom: 0;
  font-size: 2rem;
  line-height: 2rem;
}

.row.upper,
.row.lower {
  padding: 6rem;
}

.bigSquareDescription,
.smallSquareDescription {
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .container.carouselContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ---------------------------------------------------------- End Institution CSS */

/* -------------------------------------------------------------------- Games CSS */

.gamingTitle {
  font-weight: bold;
  margin-top: 4rem;
}
.video {
  border-radius: 5rem;
  border: 0.3rem solid white;
  border-left: 1rem double;
  border-right: 1rem double;
  padding: 2rem;
  max-width: 100%;
}

.videoDescription {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}


/* ---------------------------------------------------------------- End Games CSS */

/* ----------------------------------------------------------------- Packages CSS */

.packagesLink {
  text-decoration: none;
}

.cardsText {
  font-size: 2rem;
}

.cardsButton {
  border: 0.3rem solid white;
  border-radius: 1rem;
  border-top: 0;
  border-bottom: 0;
  padding: 1rem;
  opacity: 0.6;
  cursor: not-allowed;
  letter-spacing: 1.5px;
}

.packSatelite,
.packTryhard,
.packPro {
  border-radius: 5rem;
  border: 0.3rem solid white;
  border-left: 1rem double;
  border-right: 1rem double;
}


.cardsButton {
  margin-bottom: 2rem;
}


/* ------------------------------------------------------------- End Packages CSS */

/* ------------------------------------------------------Contact Grid Declaration */

.contactUsGridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2.7fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navBar"
    "main"
    "footer";
}

.navBar {
  grid-area: navBar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* ------------------------------------------------------Contact Grid Declaration */

/* --------------------------------------------------------------- Contact Us CSS */

.line {
  border-radius: 1rem;
}

legend {
  text-align: center;
}

label {
  font-size: 2rem;
  color: white;
}

input[type="text"],
select,
textarea {
  font-size: 1.5rem;
  width: 100%;
  padding: 1.2rem;
  border: 0.2rem solid none;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
}

.formContainer {
  border-radius: 1rem;
  border-top: 0;
  border-bottom: 0;
  padding: 0.5rem;
  background-color: rgb(254, 95, 85);
  margin: 1rem;
}

.buttonsRow {
  display: flex;
  justify-content: center;
}

.contactButton {
  font-size: 2rem;
  border-radius: 1rem;
  height: 5rem;
  width: 20%;
}

/* --------------------------------------------------------------- Contact Us CSS */
